<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_productfeed>
            <general>
                <enable>1</enable>
                <storage_folder>media</storage_folder>
                <batch_size>1000</batch_size>
                <image_path>full_path</image_path>
            </general>
        </weltpixel_productfeed>
    </default>
</config>
